.heroImg 
{
    max-width: 640px;
}

.iconImg 
{
    max-height: 60px;
}

.linkBtn
{
    width: 200px;
    padding: 2%;
    border: 2px solid #0118D8;    
    color: #0118D8;
}


.linkBtn:hover
{
    background-color: #0118D8;
    color: #fff;
}