.input
{
    background-color: #EFEFEF;
    display: block;
    width: 85%;
    margin-top: 5%;
    height: 50px;
    padding: 2%;
}
.input:active
{
    border : 2px solid transparent
}
.text
{
    margin-top: 5%;
    background-color: #EFEFEF;
    width: 85%;
    height: 200px;
    padding: 2%;
}

.logo 
{
    width: 40px;
}